@define-color kusozako_shadow_color @KUSOZAKO_SHADOW_COLOR@;
@define-color kusozako_fg_color @KUSOZAKO_FOREGROUND_COLOR@;
@define-color kusozako_bg_color @KUSOZAKO_BACKGROUND_COLOR@;

window {
    background-color: @kusozako_bg_color;
    color: @kusozako_fg_color;
    font-size: small;
    text-shadow:
        3px 3px 5px @kusozako_shadow_color,
        -3px -3px 5px @kusozako_shadow_color,
        3px -3px 5px @kusozako_shadow_color,
        -3px 3px 5px @kusozako_shadow_color;
}

separator{
    background-color: @kusozako_fg_color;
    box-shadow:
        3px 3px 5px @kusozako_shadow_color,
        -3px -3px 5px @kusozako_shadow_color,
        3px -3px 5px @kusozako_shadow_color,
        -3px 3px 5px @kusozako_shadow_color;
}

.current-workspace{
    color: white;
    background-color: alpha(white, 0.25);
}

.mode-label{
    color: white;
    background-color: alpha(orange, 0.5);
}
